body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chart {
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 500px;
  border: 1px solid black;
}

/* canvas {
  image-rendering: pixelated;
} */